# Python Virtual Environment
.venv
.credentials.yml
prototypes/extraction/__*
prototypes/extraction/airbyte
prototypes/mongodb/data/*
prototypes/clickhouse/ck_data/*
prototypes/clickhouse/ck_logs/*
prototypes/clickhouse/data/*
prototypes/clickhouse/clickhouse/*
prototypes/clickhouse/logs/*
prototypes/extraction/__*
prototypes/spark/.metals
prototypes/spark/.vscode
prototypes/nlp/__*
prototypes/nlp/nlp-tasks/__*
